* {
    color: #FFF;
}

#skills-html-container {
    background: url(/assets/images/skills_mobile_3x.png) no-repeat;
    background-size: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#skills-list-container {
    border: .4px rgba(181, 181, 181, .3) solid;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 15% 15% 10% 10% 35%;
    height: 75%;
    margin: auto;
    margin-top: 40%;
}

.skills-header {
    margin: auto;
    margin-bottom: 0;
}

ul {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
    grid-template-rows: 50%
}

li {
    font-size: .85em;
    color: black;
    list-style-type: none;
}

.first-list::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: blue; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 1.25em;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 1em; /* Also needed for space (tweak if needed) */
  }

.second-list::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 1.25em;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 1em; /* Also needed for space (tweak if needed) */
}

.languages-header {
    color: #fff;
    font-size: 1em;
    justify-self: center;
    align-self: center;
}

.second-header {
    color: #35C8FF;
    margin: auto;
    margin-bottom: 0;
    font-size: 1em;
}

.second-header-2 {
    color: #35C8FF;
    margin: auto;
    margin-top: 0;
    font-size: 1em;
}

.first-list {
    justify-self: left;
    margin-top: 0;
    margin-bottom: -25px;
    margin-right: 5px;
}

#second-ul {
    grid-template-rows: 17% 17% 17%;
}

.second-list {
    justify-self: left;
}

h3 {
    font-size: 1.5em;
}

/*******************
    MEDIA QUERIES
*******************/
@media screen and (min-width: 375px) and (min-height: 812px) {
  #skills-list-container {
    margin-top: 25%;
  }
}

@media screen and (min-width: 411px) and (min-height: 823px) {
  #skills-list-container {
    margin-top: 33%;
  }
}

@media screen and (min-width: 644px) and (min-height: 670px) {
  #skills-html-container {
    height: 120vh;
  }
  .second-header {
    color: #FFFFFF;
  }
  .second-header-2 {
    margin: unset;
    color: #FFFFFF;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
  #skills-html-container {
    height: 115vh;
  }
  #skills-list-container {
    margin-top: 45%;
    width: 75%;
  }
  .skills-header {
    margin: unset;
    font-size: 2em;
  }
  .languages-header {
    font-size: 1.5em;
  }
  h3 {
    margin-bottom: 0;
    align-self: center;
    justify-self: center;
  }
  .first-list {
    justify-self: center;
  }
  .second-header {
    margin: unset;
    justify-self: center;
    align-self: self-end;
    font-size: 1.5em;
  }
  .second-header-2 {
    margin: unset;
    justify-self: center;
    font-size: 1.5em;
  }
  .second-list {
    justify-self: center;
  }
  ul {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 568px) and (orientation:landscape) {
  #skills-html-container {
    background: url(/assets/images/skills_mobile_3x.png) no-repeat;
    background-size: 101%;
    height: 225vh;
  }
  .second-header {
    color: #FFFFFF;
  }
  .second-header-2 {
    color: #FFFFFF;
  }
}

@media screen and (min-width: 640px) and (orientation:landscape) {
  #skills-html-container {
    height: 100vh;
    background: unset;
  }
  #skills-list-container {
    margin-top: 9%;
    width: 75%;
    height: 95%;
  }
  .skills-header {
    margin: unset;
    justify-self: center;
    align-self: self-end;
  }
  .second-header {
    color: #35C8FF;
    margin: unset;
    justify-self: center;
    align-self: self-end;
  }
  .second-header-2 {
    color: #35C8FF;
    margin: unset;
    justify-self: center;
  }
  ul#first-ul {
    justify-content: space-around;
  }
  ul#second-ul {
    justify-content: space-around;
  }
}

@media screen and (min-width: 731px) and (orientation:landscape) {
  #skills-html-container {
    height: 90vh;
    background: unset;
  }
  #skills-list-container {
    margin-top: 9%;
    width: 75%;
  }
  .skills-header {
    margin: unset;
    justify-self: center;
    align-self: self-end;
  }
  .second-header {
    color: #35C8FF;
    margin: unset;
    justify-self: center;
    align-self: self-end;
  }
  .second-header-2 {
    color: #35C8FF;
    margin: unset;
    justify-self: center;
  }
}

@media screen and (min-width: 812px) and (orientation:landscape) {
  #skills-list-container {
    width: 75%;
  }
  .skills-header {
    margin: unset;
    justify-self: center;
    align-self: self-end;
  }
  .languages-header {
    margin: unset;
    justify-self: center;
  }
  .second-header {
    margin: unset;
    justify-self: center;
    align-self: self-end;
  }
  .second-header-2 {
    margin: unset;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) and (orientation:landscape) {
  #skills-list-container {
    margin-top: 7%;
  }
  .skills-header {
    font-size: 3em;
  }
  .languages-header {
    font-size: 2.5em;
  }
  .second-header {
    color: #356CFF;
    font-size: 2.5em;
  }
  .second-header-2 {
    color: #356CFF;
    font-size: 2.5em;
  }
  ul {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) and (orientation:portrait) {
  .second-header {
    color: #35C8FF;
  }
  .second-header-2 {
    color: #35C8FF;
  }
}
