<div id="skills-html-container">
  <div id="skills-list-container">
    <h3 class="skills-header">Skills</h3>
    <h4 class="languages-header">Languages</h4>
      <ul>
        <li class="first-list">HTML</li>
        <li class="first-list">CSS/SCSS</li>
        <li class="first-list">JavaScript</li>
        <li class="first-list">TypeScript</li>
        <li class="first-list">Python</li>
        <li class="first-list">PHP</li>
      </ul>
    <h4 class="second-header">Frameworks, Libraries, Databases</h4>
    <h4 class="second-header-2">& Data Transfer</h4>
      <ul id="second-ul">
        <li class="second-list">Angular</li>
        <li class="second-list">jQuery</li>
        <li class="second-list">Bootstrap</li>
        <li class="second-list">Django</li>
        <li class="second-list">MySQL</li>
        <li class="second-list">SQLite</li>
        <li class="second-list">JSON</li>
        <li class="second-list">XML</li>
        <li class="second-list">RESTful APIs</li>
      </ul>
  </div>
</div>
