* {
    color: #FFF;
}

#skills-html-container {
    //border: 1px black solid;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    
}

#skills-list-container {
    border: .4px rbga(181, 181, 181, .3) solid;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 15% 15% 10% 10% 35%;
    height: 75%;
    margin: auto;
    margin-top: 25%;
}

.skills-header {
    //border: 1px green solid;
    margin: auto;
    margin-bottom: 0;
}

h3:after {
    content: "";
    position: absolute;
    width: 9%;
    height: 1px;
    left: 46%;
    border-bottom: 1px solid #fff;
    margin-top: 30px;
}

ul {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
    grid-template-rows: 50%
}

li {
    font-size: .85em;
    color: black;
}

.first-list::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: blue; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 1.25em; 
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 1em; /* Also needed for space (tweak if needed) */
  }

.second-list::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 1.25em; 
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 1em; /* Also needed for space (tweak if needed) */
}

.languages-header {
    color: #fff;
    //border: 1px yellow solid;
    margin: auto;
    margin-bottom: 20px;
    font-size: 1em;
}

.second-header {
    color: #2DBA9A;
    //border: 1px green solid;
    margin: auto;
    margin-bottom: 0;
    font-size: 1em;
}

.second-header-2 {
    color: #2DBA9A;
    //border: 1px green solid;
    margin: auto;
    margin-top: 0;
    font-size: 1em;
}

.first-list {
    //border: 1px red solid;
    justify-self: left;
    margin-top: 0;
    margin-bottom: -25px;
    margin-right: 5px;
}

#second-ul {
    //border: 1px yellow solid;
    //margin-bottom: 85px;
    grid-template-rows: 17% 17% 17%;
}

.second-list {
    //border: 1px red solid;
    justify-self: left;
    //margin: auto;
}

h3 {
    font-size: 1.5em;
}

@media screen and (orientation:landscape) {
    #skills-html-container {
        height: unset !important;
    }
    #skills-list-container {
        height: 80vh;
        margin-top: 10%;
        width: 80%;
    }
    #first-ul {
        justify-content: space-evenly;
    }
    #second-ul {
        justify-content: space-evenly;
    }
    /*h4 {
        color: #014A01;
    }*/
    .languages-header {
        color: #014A01;
    }
}

@media screen and (min-width: 750px) {
    h3:after {
        width: 4%;
        left: 48%;
    }
    .second-header {
        color: #014A01;
    }
    .second-header-2 {
        color: #014A01;
    }
}
