* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

body {
    background: #FFF;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
}

#container {
    background: url(assets/images/home_mobile.png) no-repeat;
    background-size: 100%;
}

#content {
    height: 100%;
}

// For phone landscape view iphone 5s
@media screen and (min-width: 560px) and (orientation:landscape) {
    #container {
        background: url(assets/images/home_mobile_3x.png) no-repeat;
        background-size: contain;
        height: auto;
    }
}

@media screen and (min-width: 640px) and (orientation:landscape) {
  #container {
    background: url(assets/images/desktop.png) no-repeat;
    background-size: 100%;
  }
}

@media screen and (min-width: 731px) and (orientation:landscape) {
  #container {
    background: url(assets/images/desktop.png) no-repeat;
    background-size: 100%;
  }
}

// iphone X
@media screen and (min-width: 812px) and (orientation: landscape) {
  #container {
    background: url(assets/images/desktop.png) no-repeat;
    background-size: 100%;
  }
}

// iPad Landscape
@media only screen and (min-width: 1024px) and (orientation:landscape) {
  #container {
    background: url(assets/images/desktop.png) no-repeat;
    background-size: 100%;
  }
}

// iPad Pro Landscape
@media screen and (min-width: 1350px) and (orientation:landscape) {
  #container {
    background: url(assets/images/desktop.png) no-repeat;
    background-size: 100%;
  }
}
