<div id="container-home">

  <h2>Hi, I'm Mike Enochs.</h2>
  <img id="headshot" src="assets/images/headshot_skyline2x.png">
  <div id="about-me-container">
    <h3>Fullstack Web Developer</h3>
    <p id="about-me"> I began programming in March 2018. The more I programmed, the more I loved it, and the hours I spent coding increased. For over a year, I have coded relentlessly and I feel confident in my abilities. When I'm not coding I spend my time working full-time, chasing an elite powerlifting total, reading, and occasionally, I will consume myself in drawing. I love the idea of hiking - I have a closet full of brand new gear I have yet to use. Fingers crossed I venture into some mountains soon.  </p>
  </div>
</div>
