#projectdetail-html-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  background-color: #2dba9a;
  border: .4px rgba(181, 181, 181, .3) solid;
  place-items: center;
  text-align: center;
  color: #fff;
}

.proj-label {
  font-variant: small-caps;
  font-size: 1.5em;
  font-weight: bold;
}

mat-card-header.mat-card-header {
  justify-content: center;
}

button {
  background-color: #0bd0a8;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

img.contain {
  margin-bottom: 5%;
  object-fit: contain;
  object-position: center center;
  width: 100%;
}

@media screen and (min-width: 750px) and (orientation: landscape) {
  #projectdetail-html-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
  }
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  img.contain {
    margin-right: 5%;
  }
}

// For desktop view
@media only screen and (min-width: 800px) {
  #content {
  text-align: -webkit-center;
  }

  #projectdetail-html-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    border: .4px rgba(181, 181, 181, .3) solid;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    padding-right: 3%;
  }

  p.description {
    color: #fff;
    font-size: 1.15em;
    margin-left: -12px;
    background: linear-gradient(360deg, #2dba9a, transparent);
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  .mat-card-actions .mat-button:first-child {
    margin-right: 10px;
  }

  .contain {
    width: 100%;
  }

  img.contain {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 0;
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 700px;
  }

  mat-card {
    width: 100%;
  }

}
