.row {
  justify-content: center;
}

.container {
  max-width: 100%;
  margin-top: 10%;
  text-align: center;
}

.inner-container {
  border: .4px rgba(181, 181, 181, 0.3) solid;
  border-radius: 5px;
  background-color: rgba(0, 157, 126, 0.75);
  box-shadow: 0 0 10px gray;
  padding-top: 5%;
  padding-bottom: 5%;
}

.image-resize {
  height: 280px;
  width: 280px;
  object-fit: cover;
  object-position: center center;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.projects-header {
  color: #fff;
}

.thumb-detail{
  color: #fff;
  font-size: 1.25em;
}

.project-lift-history-header {
  color: #fff;
  margin-bottom: 2%;
}

.project-hp-header {
  color: #fff;
  margin-bottom: 2%;
  margin-top: 3%;
}

.video-description {
  color: #fff;
  font-size: 1.25em;
  margin-right: 15%;
  margin-left: 15%;
}

@media screen and (min-width: 740px) and (orientation: landscape) {
  .image-resize {
    height: 200px;
    width: 150px;
    object-fit: cover;
    object-position: center center;
  }
}

// For desktop view
@media only screen and (min-width: 751px) {
  .image-resize {
    height: 280px;
    width: 220px;
  }

}
