#projects-html-container {
    border: .4px rbga(181, 181, 181, .3) solid;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 10% 25% 45%;
}

.projects-header {
    color: #fff;
    margin: auto;
    margin-bottom: 2%;
}

.thumb-detail {
    color: #fff;
    font-size: .75em;
    justify-self: center;
}

h3:after {
    content: "";
    position: absolute;
    width: 12%;
    height: 1px;
    left: 44.5%;
    border-bottom: 1px solid #fff;
    margin-top: 30px;
}

mat-list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-self: center;
    align-self: center;
    margin-bottom: 4%;
    height: 100%;
}

.mat-list .mat-list-item .mat-list-avatar {
    width: 100%;
    height: 100%;
}

video {
    margin: auto;
}

h3 {
    font-size: 1.35em;
}

@media screen and (orientation:landscape) {
    #projects-html-container {
        margin-top: 5%;
        grid-template-rows: 7% 10% 25% 45%;
        height: 150vh;
    }
    .projects-header {
        margin: auto;
        margin-bottom: auto;
        margin-top: 0;
    }
    h3:after {
        left: 44%;
        margin-top: 35px;
    }
    .mat-list .mat-list-item.mat-list-item-with-avatar {
        height: 80px;
    }
}

@media screen and (min-width: 750px) {
    .projects-header {
        font-size: 1.75em;
    }
    h3:after {
        width: 4%;
        left: 48%;
    }
    .mat-list[_ngcontent-c3] .mat-list-item[_ngcontent-c3] .mat-list-avatar[_ngcontent-c3] {
        width: 10em;
        height: 10em;
    }
}
